.header {
	padding: 22px 0;
	position: relative;
	z-index: 100;
	background: white;

	&__container {
		display: flex;
		gap: 40px;
		align-items: center;

		> .btn {
			display: none;
		}
	}
	&__logo {
		margin-left: 120px;
		width: 75px;
	}
	&__nav {
		position: fixed;
		top: 77px;
		left: 0;
		width: 70%;
		max-width: 220px;
		height: 80vh;
		background: $dark;
		padding: 40px 20px;
		transform: translateX(-100%);
		transition: 0.3s;
		display: flex;
		flex-direction: column;

		.btn {
			margin-top: auto;
		}
		.btn--desktop {
			display: none;
		}
	}
	&__nav.active {
		transform: translateX(0);
	}
	&__left {
		display: flex;
		align-items: center;
		gap: 40px;
	}

	&__burger {
		background: none;
		border: none;
		cursor: pointer;
	}
	.nav__list {
		list-style: none;
		padding: 0;
		margin: 0;
		flex: 1;

		li {
			margin-bottom: 24px;
		}

		a {
			color: $grey;
			text-decoration: none;
			font-size: 18px;
		}
		a:hover {
			color: $yellow;
		}
	}
}
@media (min-width: 769px) {
	.header {
		&__container {
			display: flex;
			justify-content: flex-start;
			align-items: center;

			> .btn {
				display: flex;
			}
			.btn--mobile {
				display: none;
			}
			.btn--desktop {
				margin-left: auto;
			}
		}
		&__logo {
			margin-left: 0;
			margin-right: 40px;
		}
		&__nav {
			position: static;
			top: auto;
			left: auto;
			width: auto;
			max-width: none;
			height: auto;
			background: transparent;
			padding: 0;
			transform: none;
			transition: none;
			display: block;
			margin-right: auto;
		}

		&__burger {
			display: none;
		}
		.nav__list {
			display: flex;
			align-items: center;
			gap: 32px;
			flex: unset;
			justify-content: flex-start;

			li {
				margin-bottom: 0;
			}
			a {
				font-size: 16px;
			}
			a:hover {
				color: $yellow;
			}
		}
	}
}
@media (min-width: 1025px) {
	.header {
		&__nav {
			margin-right: 0;
		}
		.nav__list {
			gap: 60px;

			a {
				font-size: 18px;
			}
		}
		&__logo {
			margin-right: 60px;
		}
	}
}
